.about-row {
	background: white;
}

#skills {
	position: relative;
	min-height: 0vh;
	background-size: cover;
	color: black;
	overflow: hidden;
	z-index: 1;
}

#Experience {
	background: white;
	z-index: 2;
}

.section-title-skills p {
	color: black;
}

.container-skills {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container-skills .card-content {
	padding: 20px;
	text-align: center;
}

.container-skills .card {
	position: relative;
	margin: 50px;
	border-radius: 15px;
	box-shadow: 2px 2px 7px 0px rgb(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
}

.container-skills .card i {
	top: -50px;
	font-size: 8em;
	background: linear-gradient(-45deg, #ff0080, #ff8c00, #ff8c00);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: translateY(10px);
	transition: 0.5s;
}

.container-skills .card h4 {
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
}

.container .card:hover h4 {
	transform: translateY(0px);
	opacity: 1;
}

.container .card:hover i {
	transform: translateY(0px);
	opacity: 1;
}
