.about{
    min-height:60vh;
}

#skills{
    min-height: 60vh;
    background: #15101D;
    color: white;
}

.section-title-skills{
    margin-bottom: 5em ;
}

.section-title-skills p{
    color: white;
}
