#education {
	background: white;
}

.education-card {
	width: 80vw;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 5%;
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(5px);

	box-shadow: 2px 2px 7px 0px rgb(0, 0, 0, 0.1);
	padding: 0;
}

.education-card-icon {
	margin: 1%;
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*background: linear-gradient(45deg, #ff0080, #ff8c00, #ff8c00); */
	border: 5px solid #ff8c00;
}
.education-card-icon i {
	font-size: 2.5em;
	text-align: center;
	background: linear-gradient(45deg, #ff0080, #ff8c00, #ff8c00);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.education-card-header {
	padding: 1%;
	margin: 0;
	color: black;
}

.education-card-header h1 {
	font-size: 2em;
}

.education-card-header h3 {
	font-size: 1em;
	color: rgb(0, 0, 0, 0.4);
}

.education-card-header p {
	font-size: 1em;
	color: rgb(0, 0, 0, 0.9);
}
